CREATE TABLE `{{ domain_name }}` (
`host` varchar(255) NOT NULL,
`type` enum('A','CNAME','MX', 'NS','SOA','PTR') NOT NULL,
`view` char(20) NOT NULL,
`data` varchar(255) NOT NULL,
`ttl` int(11) NOT NULL default '600',
`zone` varchar(255) NOT NULL default 'ucloud.cn',
`refresh` int(11) NOT NULL default '3600',
`retry` int(11) NOT NULL default '180',
`expire` int(11) NOT NULL default '86400',
`minimum` int(11) NOT NULL default '3600',
`serial` bigint(20) NOT NULL default '2016092100',
`resp_person` varchar(64) NOT NULL default 'usa@{{ domain_name }}.',
`primary_ns` varchar(64) ,
`mx_priority` varchar (255),
PRIMARY KEY (host,type,view,data)
);
